@model Pizzeria.Models.OrderViewModels.OrderViewModel
@{
    ViewData["Title"] = "Index";
    var grouped = Model.Dishes.GroupBy(x => x.Category.Name);
}

<h2>Index</h2>

@if(Model.DishesInCart != null)
{
    <h1>Cart:</h1>
    foreach(var dish in Model.DishesInCart.OrderByDescending(x=> x.Added))
    {
        <p>@dish.Name</p>
        <a asp-controller="Order" asp-action="Edit" asp-route-id="@dish.Id">snockel</a>
    }
}

@foreach(var category in grouped)
{
    <h1>@category.Key</h1>
    @foreach(var dish in category)
    {
        <h2>@dish.Name</h2>
        <p>Price: @dish.Price</p>
        <p>Ingredients: @string.Join(",", dish.DishIngredients.Select(x=> x.Ingredient.Name))</p>
        <a asp-controller="Order" asp-action="Add" asp-route-id="@dish.DishId">Add to cart</a>
    }
}
